* text=auto

.bowerrc linguist-vendored
.editorconfig linguist-vendored
.jshintrc linguist-vendored
test/.jshintrc linguist-vendored
app/.htaccess linguist-vendored
app/.buildignore linguist-vendored
.yo-rc.json linguist-vendored

