* text=auto

.bowerrc linguist-vendored=false
.editorconfig linguist-vendored=false
.jshintrc linguist-vendored=false
test/.jshintrc linguist-vendored=false
app/.htaccess linguist-vendored=false
app/.buildignore linguist-vendored=false
.yo-rc.json linguist-vendored=false

