<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <li ng-repeat="tweet in tweets" class="list-group-item">
          <div>{{tweet.name}} - <a href="http://twitter.com/@{{tweet.username}}">@{{tweet.username}}</a></div>
          <div>{{tweet.text}}</div>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="map-canvas">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options">
          <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" events="map.markersEvents">
            <ui-gmap-window show="map.window.show" coords="map.window.model" options="map.window.options" closeclick="map.window.closeClick()">
              <div>
                <div>{{map.window.username}}</div>
                <span>{{map.window.tweet}}</span>
              </div>
            </ui-gmap-window>
          </ui-gmap-markers>
        </ui-gmap-google-map>
      </div>

      <div class="jumbotron" ng-hide="loader">
        <p>Your latitude is {{ coords.lat }}</p>
        <p>Your longitude is {{ coords.long }}</p>
      </div>
    </div>
  </div>
</div>
